<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8" />
  <title><%= title %></title>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script type="text/javascript" src = '/static/protected/accordion.js'></script>

	<link rel = 'stylesheet' type = 'text/css' href = '/static/public/accordion.css' />
</head>
<body>
	<div class="menu">
        <div class="menu__item" >
            <p class="menu__item__link2 js-menu__item__link"></p>
            <p><%= message %></p>
                
        </div>
    </div>
    <nav class="globalMenuSp">
        <ul>
            <li><a href="menu1">Menu1</a></li>
            <li><a href="menu2">Menu2</a></li>
            <li><a href="menu3">Menu3</a></li>
            <li><a href="menu4">Menu4</a></li>
            <li><a href="menu5">Menu5</a></li>
        </ul>
    </nav>
	<!-- <script type="text/javascript" src = '/static/protected/accordion.js'></script> -->
</body>
</html>