<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('common/common_head') %>
  <link rel = 'stylesheet' type = 'text/css' href = '/static/public/staff.css' />
</head>
<body>
  <!-- 後でセッション機能入れる -->
  カートを空にしました。
  <a href="/">商品一覧に戻る</a>
	<script type="text/javascript" src = '/static/protected/product.js'></script>
</body>
</html>