<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8" />
  <title><%= title %></title>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<link rel = 'stylesheet' type = 'text/css' href = '/static/public/staff.css' />
</head>
<body>
  商品追加<br />
  <form  method = 'post' enctype = 'multipart/form-data'>
    商品名を入力してください。<br />
    <input type = 'text' name = 'name' style = "width:200px"><br />
    価格を入力してください。<br />
    <input type = 'text' name = 'price' style = "width:50px"><br />
    画像を選んでください。<br />
    <input type="file" name="gazou" style = "width:400px"><br />
    <br />
    <input type = 'button' id = 'back' value = '戻る'>
    <input type = 'submit' value = 'OK'>
  </form>
	<script type="text/javascript" src = '/static/protected/product.js'></script>
</body>
</html>