<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8" />
  <title><%= title %></title>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<link rel = 'stylesheet' type = 'text/css' href = '/static/public/staff.css' />
</head>
<body>
	商品名:<%= updateData.name %>に修正しました。<br />
	<script type="text/javascript" src = '/static/protected/product.js'></script>
</body>
</html>